# 循环
- 循环是一种控制语句块重复执行的结构
- while  适用于广度遍历
- for    开发中经常使用

## while 循环
- 当一个条件保持真的时候while循环重复执行语句
- while 循环一定要有结束条件，否则很容易进入死循环
- while 循环的语法是：

    while loop-contunuation-conndition:

        Statement

In [ ]:
i = 0
while i<10:
    print('hahaha')
    i += 1

## 示例：
sum = 0

i = 1

while i <10:

    sum = sum + i
    i = i + 1

## 错误示例：
sum = 0

i = 1

while i <10:

    sum = sum + i

i = i + 1
- 一旦进入死循环可按 Ctrl + c 停止

## EP：
![](../Photo/143.png)
![](../Photo/144.png)

# 验证码
- 随机产生四个字母的验证码，如果正确，输出验证码正确。如果错误，产生新的验证码，用户重新输入。
- 验证码只能输入三次，如果三次都错，返回“别爬了，我们小网站没什么好爬的”
- 密码登录，如果三次错误，账号被锁定

In [1]:
import random

In [29]:
n = random.randint(65,122)
N = ""
i = 0
while 1:
    if 91<=n<=96:
        n = random.randint(65,122)
    else:
        N += chr(n)
        n = random.randint(65,122)
        i += 1
        if i == 4:
            break
print(N)

JWUy

In [ ]:
count = 0
for i in range(1000):
    a = random.randint(0,1000) / 1000
    if 0<a<0.001

## 尝试死循环

## 实例研究：猜数字
- 你将要编写一个能够随机生成一个0到10之间的且包括两者的数字程序，这个程序
- 提示用户连续地输入数字直到正确，且提示用户输入的数字是过高还是过低

## 使用哨兵值来控制循环
- 哨兵值来表明输入的结束
- ![](../Photo/54.png)

## 警告
![](../Photo/55.png)

## for 循环
- Python的for 循环通过一个序列中的每个值来进行迭代
- range(a,b,k)， a，b，k 必须为整数
- a: start
- b: end
- k: step
- 注意for 是循环一切可迭代对象，而不是只能使用range

In [9]:
for i in range(100):
    print('Joker is a better man!')

Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!
Joker is a better man!

In [14]:
a = 100

In [10]:
bb = 'JOker'
bb.__iter__()

In [16]:
c = [1,2,3]
c.__iter__

In [ ]:
{'key':'value'}.__iter__
(1,3,43).__iter__
{1,2,43}.__iter__

In [19]:
for i in range(5):
    print(i)

TypeError: 'bool' object is not iterable

# 在Python里面一切皆对象

## EP:
- ![](../Photo/145.png)

In [2]:
i = 1
sum_ = 0
while sum_ < 10000:
    sum_ += i
    i += 1
print(sum_)

10011

In [1]:
sum_ = 0
for i in range(1,10001):
    sum_ += i
    if sum_ > 10000:
        break
print(sum_)

10011

In [22]:
sum = 0
i = 0
while i < 1001:
    sum = sum + i
    i += 1
print(sum)

500500

## 嵌套循环
- 一个循环可以嵌套另一个循环
- 每次循环外层时，内层循环都会被刷新重新完成循环
- 也就是说，大循环执行一次，小循环会全部执行一次
- 注意：
> - 多层循环非常耗时
  - 最多使用3层循环

## EP：
- 使用多层循环完成9X9乘法表
- 显示50以内所有的素数

## 关键字 break 和 continue
- break 跳出循环，终止循环
- continue 跳出此次循环，继续执行

In [19]:
for i in range(1,10):
    for j in range(1,i+1):
        print(j,'X',i,'=',i*j,end=' ')
    print()

1 X 1 = 1
1 X 2 = 2 2 X 2 = 4
1 X 3 = 3 2 X 3 = 6 3 X 3 = 9
1 X 4 = 4 2 X 4 = 8 3 X 4 = 12 4 X 4 = 16
1 X 5 = 5 2 X 5 = 10 3 X 5 = 15 4 X 5 = 20 5 X 5 = 25
1 X 6 = 6 2 X 6 = 12 3 X 6 = 18 4 X 6 = 24 5 X 6 = 30 6 X 6 = 36
1 X 7 = 7 2 X 7 = 14 3 X 7 = 21 4 X 7 = 28 5 X 7 = 35 6 X 7 = 42 7 X 7 = 49
1 X 8 = 8 2 X 8 = 16 3 X 8 = 24 4 X 8 = 32 5 X 8 = 40 6 X 8 = 48 7 X 8 = 56 8 X 8 = 64
1 X 9 = 9 2 X 9 = 18 3 X 9 = 27 4 X 9 = 36 5 X 9 = 45 6 X 9 = 54 7 X 9 = 63 8 X 9 = 72 9 X 9 = 81

## 注意
![](../Photo/56.png)
![](../Photo/57.png)

# Homework
- 1 
![](../Photo/58.png)

In [1]:
# Mine
z = 0
f = 0
num = 1
h = 0
l = 0
while num != 0:
    num = int(input('Enter an integer, the inpute ends if it is 0:'))
    if num > 0:
        z += 1
    if num < 0:
        f += 1
    h += num
    if num != 0:
        l += 1
print(z)
print(f)
print(h/l)

Enter an integer, the inpute ends if it is 0:1
Enter an integer, the inpute ends if it is 0:2
Enter an integer, the inpute ends if it is 0:-1
Enter an integer, the inpute ends if it is 0:3
Enter an integer, the inpute ends if it is 0:0
3
1
1.25

In [2]:
zhengshu = 0
fushu = 0
sum_ = 0
cishu = 0
data = 1
while data !=0 :
    data = eval(input(">>"))
    if data > 0:
        zhengshu += 1
    if data < 0:
        fushu += 1
    sum_ += data
    if data != 0:
        cishu += 1
    
print(zhengshu)    
print(fushu)
print(sum_ / cishu)

>>1
>>-1
>>1
>>0
2
1
0.3333333333333333

- 2
![](../Photo/59.png)

In [26]:
# Mine
money = 10000
for i in range(14):
    money = 0.05 * money + money
    if i == 10:
        print('十年之后的学费：%f'%money)
print('十年之后和大学四年之后的学费：%f'%money)

十年之后的学费：17103.393581
十年之后和大学四年之后的学费：19799.315994

In [6]:
dorlla = 10000
for i in range(14):
    dorlla = dorlla * 0.05 + dorlla
    if i == 9:
        print(dorlla)
print(dorlla)

16288.946267774414
19799.31599439397

- 3
![](../Photo/58.png)

- 4
![](../Photo/60.png)

In [24]:
# Mine
count = 0
for i in range(100,1001):
    if i % 5 == 0 and i % 6 == 0:
        print(i,end = ' ')
        count += 1
        if count % 10 == 0:
            print()

120 150 180 210 240 270 300 330 360 390
420 450 480 510 540 570 600 630 660 690
720 750 780 810 840 870 900 930 960 990

In [12]:
count = 0
for i in range(100,1001):
    if i %5==0 and i % 6 == 0:
        print(i,end=" ")
        count += 1
        if count % 10 == 0:
            print()

120 150 180 210 240 270 300 330 360 390
420 450 480 510 540 570 600 630 660 690
720 750 780 810 840 870 900 930 960 990

- 5
![](../Photo/61.png)

In [1]:
# Mine
i = 0
while 1:
    i += 1
    if i ** 2 > 12000:
        print(i)
        break

110

In [4]:
# Mine
i = 0
while i ** 3 < 12000:
    i += 1
print(i-1)

22

In [8]:
# Mine
i = 0
while 1:
    if i ** 3 < 12000:
        i += 1
    else:
        break
print(i-1)

22

In [15]:
n = 0
while n**2 < 12000:
    n += 1
print(n)

110

In [17]:
n = 0
while n**3 < 12000:
    n += 1
print(n-1)

22

In [18]:
n = 0
while 1:
    res = n ** 2
    if res >= 12000:
        break
    else:
        n += 1
print(n)

110

In [21]:
n = 0
while 1:
    res = n ** 3
    if res < 12000:
        n += 1
    else:
        break
print(n-1)

22

- 6
![](../Photo/62.png)

In [12]:
# Mine
amount = float(input('Loan Amount:'))
year = float(input('Number of Years:'))
l = 0.05
count = 0
while l < 0.08:
    d = amount * l / year
    k = amount + (d * 12)   
    l = l + 1 / 800 
    print('年利率：%f  月还款：%.2f   年还款：%.2f'%(l,d,k))

Loan Amount:10000
Number of Years:5
年利率：0.051250  月还款：100.00   年还款：11200.00
年利率：0.052500  月还款：102.50   年还款：11230.00
年利率：0.053750  月还款：105.00   年还款：11260.00
年利率：0.055000  月还款：107.50   年还款：11290.00
年利率：0.056250  月还款：110.00   年还款：11320.00
年利率：0.057500  月还款：112.50   年还款：11350.00
年利率：0.058750  月还款：115.00   年还款：11380.00
年利率：0.060000  月还款：117.50   年还款：11410.00
年利率：0.061250  月还款：120.00   年还款：11440.00
年利率：0.062500  月还款：122.50   年还款：11470.00
年利率：0.063750  月还款：125.00   年还款：11500.00
年利率：0.065000  月还款：127.50   年还款：11530.00
年利率：0.066250  月还款：130.00   年还款：11560.00
年利率：0.067500  月还款：132.50   年还款：11590.00
年利率：0.068750  月还款：135.00   年还款：11620.00
年利率：0.070000  月还款：137.50   年还款：11650.00
年利率：0.071250  月还款：140.00   年还款：11680.00
年利率：0.072500  月还款：142.50   年还款：11710.00
年利率：0.073750  月还款：145.00   年还款：11740.00
年利率：0.075000  月还款：147.50   年还款：11770.00
年利率：0.076250  月还款：150.00   年还款：11800.00
年利率：0.077500  月还款：152.50   年还款：11830.00
年利率：0.078750  月还款：155.00   年还款：11860.00
年利率：0.080000  月还款：157.50   年还款：11890.00

In [14]:
# Mine
amount = float(input('Loan Amount:'))
year = float(input('Number of Years:'))
l = 0.05
count = 0
for i in range(24):
    d = amount * l / year
    k = amount + (d * 12) 
    if l <= 0.08:
        print('年利率：%f   月还款：%.2f   年还款：%.2f'%(l,d,k)) 
        l = l + 1 / 800 
    else:
        break

Loan Amount:10000
Number of Years:5
年利率：0.050000   月还款：100.00   年还款：11200.00
年利率：0.051250   月还款：102.50   年还款：11230.00
年利率：0.052500   月还款：105.00   年还款：11260.00
年利率：0.053750   月还款：107.50   年还款：11290.00
年利率：0.055000   月还款：110.00   年还款：11320.00
年利率：0.056250   月还款：112.50   年还款：11350.00
年利率：0.057500   月还款：115.00   年还款：11380.00
年利率：0.058750   月还款：117.50   年还款：11410.00
年利率：0.060000   月还款：120.00   年还款：11440.00
年利率：0.061250   月还款：122.50   年还款：11470.00
年利率：0.062500   月还款：125.00   年还款：11500.00
年利率：0.063750   月还款：127.50   年还款：11530.00
年利率：0.065000   月还款：130.00   年还款：11560.00
年利率：0.066250   月还款：132.50   年还款：11590.00
年利率：0.067500   月还款：135.00   年还款：11620.00
年利率：0.068750   月还款：137.50   年还款：11650.00
年利率：0.070000   月还款：140.00   年还款：11680.00
年利率：0.071250   月还款：142.50   年还款：11710.00
年利率：0.072500   月还款：145.00   年还款：11740.00
年利率：0.073750   月还款：147.50   年还款：11770.00
年利率：0.075000   月还款：150.00   年还款：11800.00
年利率：0.076250   月还款：152.50   年还款：11830.00
年利率：0.077500   月还款：155.00   年还款：11860.00
年利率：0.078750   月还款：157.50   年还款：11890.00

In [23]:
# Mine
amount = float(input('Loan Amount:'))
year = float(input('Number of Years:'))
def money():
    l = 0.05
    count = 0
    while l < 0.08:
        d = amount * l / year
        k = amount + (d * 12)   
        l = l + 1 / 800 
        print('年利率：%f  月还款：%.2f   年还款：%.2f'%(l,d,k)) 
money()

Loan Amount:10000
Number of Years:5
年利率：0.051250  月还款：100.00   年还款：11200.00
年利率：0.052500  月还款：102.50   年还款：11230.00
年利率：0.053750  月还款：105.00   年还款：11260.00
年利率：0.055000  月还款：107.50   年还款：11290.00
年利率：0.056250  月还款：110.00   年还款：11320.00
年利率：0.057500  月还款：112.50   年还款：11350.00
年利率：0.058750  月还款：115.00   年还款：11380.00
年利率：0.060000  月还款：117.50   年还款：11410.00
年利率：0.061250  月还款：120.00   年还款：11440.00
年利率：0.062500  月还款：122.50   年还款：11470.00
年利率：0.063750  月还款：125.00   年还款：11500.00
年利率：0.065000  月还款：127.50   年还款：11530.00
年利率：0.066250  月还款：130.00   年还款：11560.00
年利率：0.067500  月还款：132.50   年还款：11590.00
年利率：0.068750  月还款：135.00   年还款：11620.00
年利率：0.070000  月还款：137.50   年还款：11650.00
年利率：0.071250  月还款：140.00   年还款：11680.00
年利率：0.072500  月还款：142.50   年还款：11710.00
年利率：0.073750  月还款：145.00   年还款：11740.00
年利率：0.075000  月还款：147.50   年还款：11770.00
年利率：0.076250  月还款：150.00   年还款：11800.00
年利率：0.077500  月还款：152.50   年还款：11830.00
年利率：0.078750  月还款：155.00   年还款：11860.00
年利率：0.080000  月还款：157.50   年还款：11890.00

In [24]:
# Mine
amount = float(input('Loan Amount:'))
year = float(input('Number of Years:'))
def mo():
    l = 0.05
    count = 0
    for i in range(24):
        d = amount * l / year
        k = amount + (d * 12) 
        if l <= 0.08:
            print('年利率：%f   月还款：%.2f   年还款：%.2f'%(l,d,k)) 
            l = l + 1 / 800 
        else:
            break
mo()

Loan Amount:10000
Number of Years:5
年利率：0.050000   月还款：100.00   年还款：11200.00
年利率：0.051250   月还款：102.50   年还款：11230.00
年利率：0.052500   月还款：105.00   年还款：11260.00
年利率：0.053750   月还款：107.50   年还款：11290.00
年利率：0.055000   月还款：110.00   年还款：11320.00
年利率：0.056250   月还款：112.50   年还款：11350.00
年利率：0.057500   月还款：115.00   年还款：11380.00
年利率：0.058750   月还款：117.50   年还款：11410.00
年利率：0.060000   月还款：120.00   年还款：11440.00
年利率：0.061250   月还款：122.50   年还款：11470.00
年利率：0.062500   月还款：125.00   年还款：11500.00
年利率：0.063750   月还款：127.50   年还款：11530.00
年利率：0.065000   月还款：130.00   年还款：11560.00
年利率：0.066250   月还款：132.50   年还款：11590.00
年利率：0.067500   月还款：135.00   年还款：11620.00
年利率：0.068750   月还款：137.50   年还款：11650.00
年利率：0.070000   月还款：140.00   年还款：11680.00
年利率：0.071250   月还款：142.50   年还款：11710.00
年利率：0.072500   月还款：145.00   年还款：11740.00
年利率：0.073750   月还款：147.50   年还款：11770.00
年利率：0.075000   月还款：150.00   年还款：11800.00
年利率：0.076250   月还款：152.50   年还款：11830.00
年利率：0.077500   月还款：155.00   年还款：11860.00
年利率：0.078750   月还款：157.50   年还款：11890.00

In [41]:
Money = 10000
lilv = 5
nian = 5
for i in range(24):
    M = Money * lilv / 100
    T = 12 * M * nian
    print(lilv,'%','月利率',M,'总和',T)
    if lilv == 5.25:
        print('.....')
    lilv += 1/8

5 % 月利率 500.0 总和 30000.0
5.125 % 月利率 512.5 总和 30750.0
5.25 % 月利率 525.0 总和 31500.0
.....
5.375 % 月利率 537.5 总和 32250.0
5.5 % 月利率 550.0 总和 33000.0
5.625 % 月利率 562.5 总和 33750.0
5.75 % 月利率 575.0 总和 34500.0
5.875 % 月利率 587.5 总和 35250.0
6.0 % 月利率 600.0 总和 36000.0
6.125 % 月利率 612.5 总和 36750.0
6.25 % 月利率 625.0 总和 37500.0
6.375 % 月利率 637.5 总和 38250.0
6.5 % 月利率 650.0 总和 39000.0
6.625 % 月利率 662.5 总和 39750.0
6.75 % 月利率 675.0 总和 40500.0
6.875 % 月利率 687.5 总和 41250.0
7.0 % 月利率 700.0 总和 42000.0
7.125 % 月利率 712.5 总和 42750.0
7.25 % 月利率 725.0 总和 43500.0
7.375 % 月利率 737.5 总和 44250.0
7.5 % 月利率 750.0 总和 45000.0
7.625 % 月利率 762.5 总和 45750.0
7.75 % 月利率 775.0 总和 46500.0
7.875 % 月利率 787.5 总和 47250.0

- 7
![](../Photo/63.png)

In [56]:
# Mine
h = 0
for i in range(1,50000):
    h = h + (1/i)
print(h)

11.396983949278505

In [62]:
# Mine
h2 = 0
for i in range(50000,0,-1):
    h2 = h2 + (1/i)
print(h2)

11.397003949278519

In [1]:
res = 0
for i in range(50000,0,-1):
    res += 1/i
print(res)

11.397003949278519

In [2]:
res = 0
for i in range(1,50001,1):
    res += 1/i
print(res)

11.397003949278504

- 8
![](../Photo/64.png)

In [55]:
# Mine
sum_ = 0
for i in range(1,98,2):
    sum_ = sum_ + (i/ (i+2))
print(sum_)

45.124450303050196

In [43]:
res = 0
for i in range(1,98,2):
    res +=  i/ (i+2)
print(res)

45.124450303050196

- 9
![](../Photo/65.png)

In [69]:
# Mine
for i in range(10000,100000,10000):
    n = 0
    for j in range(1,100000):
        n = n + 4 * (-1) ** (j + 1) / ((2 * j) - 1)
    print(n)

3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204

In [25]:
# Mine
def pi():
    n = 0
    for j in range(1,100000):
        n = n + 4 * (-1) ** (j + 1) / ((2 * j) - 1)
    print(n)
for i in range(10000,100000,10000):
    pi()

3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204
3.1416026536897204

In [48]:
res = 0
for i in range(1,100000):
    res += 4*((-1)**(i+1)/(2*i-1))
print(res)

3.1416026536897204

- 10 
![](../Photo/66.png)

In [22]:
# Mine
q = 0
p = 0
for i in range(1,10000):
    a = 0
    for j in range(1,i):
        if i % j == 0:
            a = a + j
    if a == i:
        print(a)

6
28
496
8128

In [26]:
# Mine
q = 0
p = 0
def fi(y):
    a = 0
    for j in range(1,y):
        if y % j == 0:
            a = a + j
    if a == y:
        print(a)
for i in range(1,10000):
    fi(i)

6
28
496
8128

In [50]:
for i in range(1,10000):
    res = 0
    for j in range(1,i):
        if i % j == 0:
            res += j
    if i == res:
        print(i)

6
28
496
8128

- 11
![](../Photo/67.png)

In [47]:
# Mine
M = 7
N = 2
mn = 5
s1 = 1
s2 = 1
s3 = 1
count = 0
for a in range(1,8,2):
    for b in range(2,8):
        if a != b:
            print(a,b)
            count += 1
print('The total number of all combintions is %d'%count)

1 2
1 3
1 4
1 5
1 6
1 7
3 2
3 4
3 5
3 6
3 7
5 2
5 3
5 4
5 6
5 7
7 2
7 3
7 4
7 5
7 6
The total number of all combintions is 21

In [46]:
# Mine
M = 7
N = 2
mn = 5
s1 = 1
s2 = 1
s3 = 1
# 阶乘
for a in range(1,8,2):
    for b in range(2,8):
        if a != b:
            print(a,b)
for i in range(M):
    M -= 1
    s1 = s * (M + 1)
    for j in range(N):
        N -= 1
        s2 = s2 * (N + 1)
        for z in range(mn):
            mn -= 1
            s3 = s3 * (mn + 1)
print('The total number of all combintions is %d'%(s1 / s2 / s3))

1 2
1 3
1 4
1 5
1 6
1 7
3 2
3 4
3 5
3 6
3 7
5 2
5 3
5 4
5 6
5 7
7 2
7 3
7 4
7 5
7 6
The total number of all combintions is 21

In [27]:
# Mine
M = 7
N = 2
mn = 5
s1 = 1
s2 = 1
s3 = 1
count = 0
def fun(y):
    global count
    for b in range(2,8):
        if y != b:
            print(y,b)
            count += 1
for a in range(1,8,2):
    fun(a)
print('The total number of all combintions is %d'%count)

1 2
1 3
1 4
1 5
1 6
1 7
3 2
3 4
3 5
3 6
3 7
5 2
5 3
5 4
5 6
5 7
7 2
7 3
7 4
7 5
7 6
The total number of all combintions is 21

In [52]:
a = 0
for i in range(1,8,2):
    for j in range(2,8):
        if i != j:
            print(i,j)
            a += 1

1 2
1 3
1 4
1 5
1 6
1 7
3 2
3 4
3 5
3 6
3 7
5 2
5 3
5 4
5 6
5 7
7 2
7 3
7 4
7 5
7 6
21

- 12
![](../Photo/68.png)

In [31]:
# Mine
count = 0
m = 0
dev = 0
print('Enter ten numbers:')
for i in range(1,11):
    a = float(input())
    count += 1
    m = m + a
    mean = m / count
    dev = ((a - mean) ** 2 + dev) / count 
print('The mean is %.2f'% mean)
print('The standard deviation is %f'% dev)

Enter ten numbers:
1
2
3
5.5
5.6
6
7
8
9
10
The mean is 5.71
The standard deviation is 2.014252